@font-face {
    font-family: 'Roboto';
    src: url(/font/Roboto-Light.ttf);
}

* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background: #000; */
    /* list-style: none; */
    /* list-style-image: url(/icons/cards.svg); */
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 50px 80px 700px; */
    grid-template-rows: 7% 8% 85%;
    /* grid-template-rows: 1fr 1fr 7fr; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sidebar {
    background: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    min-width: 190px;
    color: white;
    /* display: grid;
    grid-template-rows: 7% 33% 40%; */
    /* grid-template-rows: 1fr 3fr 4fr; */
    /* height: 80vh; */
    /* position: relative;
    top: 0;
    left: 0; */
}

.title {
    /* text-align: center; */
    font-size: 30px;
    font-weight: bold;
    /* list-style-image: url(/icons/cards.svg); */
}

.title svg {    
    margin-top: 10px;
}

/* .title svg {
    width: 50px;
    height: 50px;
    color: white;
} */

.home {
    margin: 50px 0px;
}

.sidebar ul li {
    font-size: 20px;
    /* list-style-image: url(/icons/cards.svg); */
}

/* .title ::marker {
    height: 20px;
    width: 30px;
    font-size: 40px;
} */

.searchbar {
    /* grid-column: 2 / 3; */
    /* background-color: red; */
    display: flex;
    align-self: center;
    justify-self: center;
    width: 80%;
}

.searchbar input {
    width: 80%;
    /* flex: 1; */
    border-radius: 15px;
    background-color: #C4CAD2;
    border: none;
}

.searchbar img {
    height: 30px;
    width: 30px;
}

.user {
    grid-column: 3 / 4;
    /* background-color: brown; */
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}

.profile {
    grid-column: 2/ 4;
    background-color: #557180;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.profile button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: #1992D4;
    border: none;
    border-radius: 8px;
}

.name {
    grid-column: 1 / 2;
}

.buttons {
    grid-column: 2 / 3;
    align-self: center;
}

.article {
    background-color: #c4cad2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(110px, 1fr));
    gap: 10px;
}

#headline,
#label {
    position: absolute;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.project {
    background-color: #6dc2f0;
    margin: 10px;
    margin-top: 40px;
    border-radius: 10px;
}

.project p,
.project h3 {
    margin: 10px;
}

.extra {
    background-color: #1a5e83;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* justify-items: center; */
}

.card {
    height: 300px;
    width: 250px;
    background-color: #1992D4;
    border-radius: 10px;
    justify-self: center;
}

